# ===============================
# PASSENGER CONFIGURATION
# ===============================

PassengerEnabled on
PassengerAppRoot /home/impromptuindian/backend
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py

# Allow Passenger to handle all routes
Options -MultiViews

RewriteEngine On

# If file exists, serve normally
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Otherwise send request to Passenger
RewriteRule ^(.*)$ / [QSA,L]
